<style>
    html,
    body {
        background-image: url("data:image/<%= contentType %>;base64, <%= image %>");
    }
</style>

<div class="container row mt-5 position-fixed">
    <div class="col-md-12 m-auto">
        <div class="card-body text-center">
            <h1 class="text-center mb-3 h1Style"><i class="fas fa-portrait fa-3x"></i></h1>
            <p class="lead mt-4 pStyle">Üdvözlöm, kérem lépjen be!</p>
            <a href="/users/register" class="btn btn-block col-12 btnStyle">Register</a>
            <p></p>
            <a href="/users/login" class="btn btn-block col-12 btnStyle">Login</a>
        </div>
    </div>
</div>