html,
body {
    height: 100%;
}

.container {
    height: auto;
    width: 30vw;
    margin: 0;
    border: 0;
    padding: 0;
    border-color: lightgoldenrodyellow;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.7vw lightgoldenrodyellow;
    transform: translateX(-50%) translateY(-50%); top: 28vh; left: 50vw;
    font-family: 'Rubik', sans-serif;
}

.card-body h1 {
    color: lightgoldenrodyellow;
}

.form-group label {
    color: white;
}

.btnStyle {
    border: 0;
    box-shadow: 0 0 0.7vw lightgoldenrodyellow;
    background-color: black;
    color: lightsteelblue;
    font-size: 1vw;
}

.btnStyle:hover {
    box-shadow: none;
    background-color: rgba(250,250,210,0.5);
    color: black;
}

.pStyle {
    border: 0;
    color: lightsteelblue;
    font-size: 1.5vw;
}

.aStyle {
    border: 0;
    color: rgb(33, 36, 36);
}

.aStyle:hover {
     color: lightgoldenrodyellow;
}

.inputStyle {
    border: 0;
    border: 0.2vw;
    border-style: solid;
    background-color: black;
    opacity: 0.5;
    color: lightsteelblue;
    font-size: 1.1vw;
}

.inputStyle:hover {
    box-shadow: 0 0 0.7vw lightgoldenrodyellow;
    opacity: 1;
    color: black;
  }

.h1Style {
    font-size: 2vw;
}

.labelStyle {
    font-size: 1.1vw;
}

/*****************************************************************/

@media only screen and (max-width: 550px) {
    .container {
        height: auto;
        width: calc(100vw/1.2);
        margin: 0;
        border: 0;
        padding: 0;
        border-color: lightgoldenrodyellow;
        border-radius: calc(0.5vw * 3);
        box-shadow: 0 0 calc(0.7vw * 3) lightgoldenrodyellow;
        transform: translateX(-50%) translateY(-50%); top: 28vh; left: 50vw;
        font-family: 'Rubik', sans-serif;
    }   

    .btnStyle {
        box-shadow: 0 0 calc(0.7vw * 3) lightgoldenrodyellow;
        font-size: calc(1vw * 3);
    }
    
    .pStyle {
        font-size: calc(1.5vw * 3);
    }
    
    .inputStyle {
        border: 0;
        border: calc(0.2vw * 3);
        border-style: solid;
        font-size: calc(1.1vw * 3);
    }
    
    .h1Style {
        font-size: calc(2vw * 3);
    }
    
    .labelStyle {
        font-size: calc(1.1vw * 3);
    }

}