html,
body {
    height: 100%;
}

.container {
    height: auto;
    /* width: 30%; */
    width: 55vh;
    margin: 0;
    border: 0;
    padding: 0;
    border-color: lightgoldenrodyellow;
    border-radius: 10px;
    box-shadow: 0px 0px 9px lightgoldenrodyellow;
    transform: translateX(-50%) translateY(-50%); top: 25%; left: 50%;
    font-family: 'Rubik', sans-serif;
}

.card-body h1 {
    color: lightgoldenrodyellow;
}

.form-group label {
    color: white;
}

.btnStyle {
    border: 0;
    box-shadow: 0px 0px 9px lightgoldenrodyellow;
    background-color: black;
    color: lightsteelblue;
}

.btnStyle:hover {
    box-shadow: none;
    background-color: rgba(250,250,210,0.5);
    color: black;
}

.pStyle {
    border: 0;
    color: lightsteelblue;
}

.aStyle {
    border: 0;
    color: black;
}

.aStyle:hover {
     color: lightgoldenrodyellow;
}

.inputStyle {
    border: 0;
    border: 1px;
    border-style: solid;
    background-color: black;
    opacity: 0.5;
    color: lightsteelblue;
}

.inputStyle:hover {
    box-shadow: 0px 0px 9px lightgoldenrodyellow;
    opacity: 1;
    color: black;
  }

/*****************************************************************/

