#webCV {
    font-family: "Rubik", sans-serif;
}

#nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: none;
  }
  
  #nav-container .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    background: black;

  }
  
  #nav-container:focus-within .bg {
    visibility: visible;
    opacity: 0.6;
  }

  #nav-container * {
    visibility: visible;
  }
  
  .button {
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: center;
      -webkit-appearance: none;
      border: 0;
      background: transparent;
      border-radius: 0;
      /* height: 70px;
      width: 30px; */
      height: 4vw;
      width: 2vw;
      cursor: pointer;
      pointer-events: auto;
      /* margin-left: 25px; */
      margin-left: 1.7vw;
      touch-action: manipulation;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      transform: none;
      transition: transform 0.9s;

  }
  
  .icon-bar {
    display: block;
    width: 100%;
    /* height: 5px; */
    height: 1px;
    background: lightsteelblue;
    transition: 0.3s;
  }
  
  .icon-bar + .icon-bar {
    margin-top: 5px;
  }
  
  #nav-container:focus-within .button {
     pointer-events: none;
     -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
     /* transform: translateX(285px); */
     transform: translateX(16.5vw);
     transition: transform 0.9s;
  }

  #nav-container:focus-within .icon-bar:nth-of-type(1) {
    /* transform: translate3d(0, 8px, 0) rotate(45deg); */
    transform: translate3d(0, 5.5px, 0) rotate(45deg);
  }
  
  #nav-container:focus-within .icon-bar:nth-of-type(2) {
    opacity: 0;
  }
  
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    /* transform: translate3d(0, -8px, 0) rotate(-45deg); */
    transform: translate3d(0, -5.5px, 0) rotate(-45deg);
  }
  
  #nav-content {
    /* padding: 20px;
    width: 90%;
    max-width: 300px; */
    padding: 2vw;
    width: 90%;
    max-width: 17.5vw;
    top: 0;
    left: 0;
    height: 100%;
    background: black;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: translateX(-100%);
    transition: transform 0.9s;
    will-change: transform;
    contain: paint;
    position: absolute;
  }
  
  #nav-content ul {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  #nav-content li a {
    padding: 10px 5px;
    display: block;
    text-transform: uppercase;
    transition: color 0.1s;
    color: lightsteelblue;
  }
  
  #nav-content li a:hover {
    opacity: 1;
    color: white;
    text-shadow: 0px 0px 9px lightgoldenrodyellow;
  }
  
  #nav-content li:not(.small) + .small {
    margin-top: auto;
  }
  
  .small {
    display: flex;
    align-self: center;
  }
  
  .small a {
    /* font-size: 12px; */
    font-size: 1vw;
    font-weight: 400;
    color: lightsteelblue;;
  }

  .small a + a {
    /* margin-left: 15px; */
    margin-left: 1.1vw;
  }

  .liClassMenu {
    font-size: 0.9vw;
    font-weight: 400;
  }

  #nav-container:focus-within #nav-content {
    transform: none;
  }
  
  a,
  a:visited,
  a:focus,
  a:active,
  a:link {
    text-decoration: none;
    outline: 0;
  }
  
  a {
    color: currentColor;
    transition: 0.2s ease-in-out;
  }
  
   
  ul {
    padding: 0;
    list-style: none;
  }

/*****************************************************************/

@media only screen and (max-width: 550px) {

  #nav-container {
    width: calc(100vw/1.2);
  }
  
  #nav-container .bg {
    width: 100vw;
    height: 100%;
  }
  
  .button {
      height: calc(4vw * 3);
      width: calc(2vw * 3);
      margin-left: calc(1.7vw * 3);
  }
  
  .icon-bar + .icon-bar {
    margin-top: 1vw;
  }
  
  #nav-container:focus-within .button {
     transform: translateX(calc(16.5vw * 3));
  }

   #nav-container:focus-within .icon-bar:nth-of-type(1) {
    transform: translate3d(0, 1.4vw, 0) rotate(45deg);
  }

  
  #nav-container:focus-within .icon-bar:nth-of-type(3) {
    transform: translate3d(0, -1.4vw, 0) rotate(-45deg);
  }

 
  #nav-content {
    padding: calc(2vw * 3);
    width: 90%;
    max-width: calc(17.5vw * 3);
  }
 
  .small a {
    font-size: calc(1vw *3);
  }

  .small a + a {
    margin-left: calc(1.1vw * 3);
  }

  .liClassMenu {
    font-size: calc(0.9vw * 3);
  }


}