@page {
  size: A4 portrait;
  margin: -0.2cm;

  @bottom-center {
    content: counter(page) " of " counter(pages);
  }

  @top-center {
    content: element(header);
  }
}

#page-footer {
  display: block;
  position: running(footer);
}

.page-number:before {
  content: counter(page);
}

.page-count:before {
  content: counter(pages);
}

@media print {
  /* .grid-container, grid-container * {
    display: none !important;
  } */

  #idLogout,
  #idLogout * {
    display: none !important;
  }

  #leftSide,
  leftSide * {
    display: none !important;
  }

  #rightSide,  rightSide * {
    display: none !important;
  }

  /* #nav-container, nav-container * {
    display: none !important;
  } */

  #printCV {
    display: block;
  }

  #webCV {
    display: none;
  }

  #idDiv2 {
    display: block;
    /* margin-top: 10px;
    padding-top: 100px; */
    margin-top: 1vw;
    padding-top: 10vw;
  }

  html,
  body {
    display: flex;
  }

  .pNev {
    text-align: left;
    padding: 0;
    /* margin-top: 30px;
    margin-left: 0px;
    font-size: 80px; */
    margin-top: 3vw;
    margin-left: 0;
    font-size: 10vw;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
  }

  .page-header {
    display: flex;
    position: running(header);
    flex-direction: row;
    /* width: 147.6vh; */
    width: 210vw;
  }

  .center {
    /* font-size: 30px;
    margin: 10px;
    padding: 100px; */
    font-size: 2vw;
    margin: 1vw;
    padding: 10vw;
    /* width: 65%; */
    width: 65%;
  }

  #cv1,
  #cv2 {
    width: 50%;
    height: auto;
    border: 0;
    padding: 0;
    /* border-top: 10px; */
    border-top: 1vw;
    border-style: solid;
    border-color: rgb(71, 71, 71);
    text-align: center;
    /* margin-left: -100px;
    margin-top: -40px;
    font-size: 30px; */
    margin-left: -10vw;
    margin-top: -4vw;
    font-size: 4vw;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    color: white;
    background-color: rgb(66, 171, 197);
    -webkit-print-color-adjust: exact !important;
  }

  #spanVnev1,
  #spanVnev2 {
    font-weight: 1000;
    color: rgb(66, 171, 197);
  }

  /******************************************************************/
  .flexDiv2 {
    background-color: rgb(66, 171, 197);
    -webkit-print-color-adjust: exact !important;
    /* margin-left: 50px;
    width: 25%;
    padding: 30px; */
    margin-left: 22vw;
    width: 25%;
    padding: 3vw;
    /* width: 20rem; */
  }

  .contact {
    /* font-size: 20px; */
    font-size: 2.5vw;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    /* padding-top: 15px; */
    padding-top: 1.5vw;
    color: white;
  }

  /******************************************************************/

  .flexDiv3 {
    margin-top: 0;
    padding: 0;
    border: 0;
    /* font-size: 28px; */
    font-size: 2.8vw;
    text-transform: uppercase;
    font-family: "DM Sans", sans-serif;
    color: white;
  }

  /**********************************************************************/

  .divLeft {
    border: 0;
    padding: 0;
    margin: 0;
    /* padding-top: 10px;
    margin-top: 10px;
    border-top: 5px; */
    padding-top: 2vw;
    margin-top: 0.8vw;
    border-top: 1vw;
    border-style: solid;
    border-color: rgb(66, 171, 197);
    /* font-size: 17px; */
    font-size: 2.1vw;
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
  }

  .divRight {
    border: 0;
    padding: 0;
    margin: 0;
    /* padding-top: 10px;
    margin-top: 10px;
    border-top: 5px; */
    padding-top: 2vw;
    margin-top: 0.8vw;
    border-top: 1vw;
    border-style: solid;
    border-color: lightgrey;
    /* font-size: 17px; */
    font-size: 2.1vw;
    font-family: "DM Sans", sans-serif;
    text-align: justify;
  }

  .page-header {
    /* margin-bottom: 40px; */
    margin-bottom: 4vw;
  }
}
