html,
body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#printCV {
    display: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: auto;
  grid-template-areas:
  'left left header header header header header header'
  'left left main main main main main main'
  'footer footer main main main main main main'
  'footer footer main main main main main main'; 
  height: 100vh;
  overflow: hidden;
}

.grid-container-job {
  display: grid;

  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  grid-template-areas:
    'divLeftWeb divRightWeb';
  overflow: hidden;
}

.grid-container-all {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    'divRightWeb';
  overflow: hidden;
}

.header {
  grid-area: header;
  text-align: left;
  text-transform: uppercase;
  font-size: 6vw;
  box-shadow:inset 0 0 0 100vw rgba(0,0,0, 0.3);
  font-family: "DM Sans", sans-serif;
}

.left {
  grid-area: left;
  box-shadow:inset 0 0 0 100vw rgba(0,0,0, 0.3);
  font-family: "DM Sans", sans-serif;
}

.main {
  grid-area: main;
  box-shadow:inset 0 0 0 100vw rgba(0,0,0, 0.3);
  font-family: "DM Sans", sans-serif;
}

.footer {
  grid-area: footer;
  color: lightgoldenrodyellow;
  padding: 0;
  padding-top: 2.2vw;
  padding-left: 1vw;
  text-align: justify;
  font-size: 0.9vw;
  box-shadow:inset 0 0 0 100vw rgba(0,0,0, 0.3);
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
}

.divContact{
  margin-left: 1vw;
  font-size: 1.1vw;
}

.h2Class{
  text-transform: uppercase;
  text-align: left;
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-family: "DM Sans", sans-serif;
  color: black;
  text-shadow: 0px 0px 4px white;
}

.ulClass {
  margin-left: 5vw;
  font-size: 1.3vw;
  list-style-type: square;
}

.liClass {
  margin-top: 1vw;
  font-size: 1vw;  
}

.divLeftWeb {
  grid-area: divLeftWeb;
  border: 0;
  padding-right: 0.3vw;
  padding-left: 0.5vw;
  margin: 0;
  padding-top: 1vw;
  margin-top: 1vw;
  border-top: 0.2vw;
  border-style: solid;
  border-color: rgb(66, 171, 197);
  font-size: 1.1vw;
  text-align: justify;
  text-transform: uppercase;
  text-align: left;
  color: black;
  text-shadow: 0px 0px 4px white;
  background-color: rgba(255,255,255,0.8);
}

.divRightWeb {
  grid-area: divRightWeb;
  border: 0;
  padding: 0.5vw;
  margin: 0;
  padding-top: 1vw;
  margin-top: 1vw;
  margin-left: 0.2vw;
  border-top: 0.2vw;
  border-style: solid;
  border-color: lightgrey;
  font-size: 1.1vw;
  text-align: justify;
  color: black;
  text-shadow: 0px 0px 4px white;
  font-weight: 200;
  background-color: rgba(255,255,255,0.8);
}

#spanVnev1,
#spanVnev2 {
    font-weight: 1000;
    color: rgb(66, 171, 197);
}

#idLabel {
  padding-left: 0vw;
  margin-left: 2vw;
  border: 0;
  border-bottom: 0.1vw;
  border-style: solid;
  border-color: rgb(66, 171, 197);
}

#idMunkakorok{
  font-size: 1.5vw;
}

#h1Contact {
  text-align: start;
  margin-top: 0;
  text-transform: uppercase;
  font-size:2vw;
}

#leftImage {
  display: block;
  width: 25vw;
  height: auto;
  object-fit: fill;
  box-shadow:  0px 0px 10px blue;
  border-radius: 1%;
}

#mainSection {
  padding: 1vw;
  margin: 1vw;
  margin-left: 2vw;
  text-align: justify;
  font-size:1vw;
}

#idAdatok {
  object-fit: cover;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 75vh;
  padding-right: 1vw;
}

#idAdatok::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

#idAdatok::-webkit-scrollbar {
  width: 0.2vw;
  transition: width 0.9s;
}

#idAdatok::-webkit-scrollbar-thumb {
  border-radius: 1vw;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: lightsteelblue;
}

#idBemutatkozas::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

#idBemutatkozas::-webkit-scrollbar {
  width: 0.2vw;
  transition: width 0.9s;
}

#idBemutatkozas::-webkit-scrollbar-thumb {
  border-radius: 1vw;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: lightsteelblue;
}

#idAbout::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

#idAbout::-webkit-scrollbar {
  width: 0.2vw;
  transition: width 0.9s;
}

#idAbout::-webkit-scrollbar-thumb {
  border-radius: 1vw;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: lightsteelblue;
}

#idBemutatkozas {
  object-fit: cover;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 75vh;
  margin-right: 2vw;
  padding-right: 1vw;
}

#idKeszsegek {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 75vh;
  margin-right: 2vw;
}

#idVegzettsegek {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 75vh;
  margin-right: 2vw;

}

#idNyelv {
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 75vh;
  margin-right: 2vw;
} 

#idAbout {
  object-fit: cover;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 75vh;
  margin-right: 2vw;
  padding-right: 1vw;
}

/********************************************************************************/

.overlay {
  display: none;
  opacity: 0;
  transition: opacity 1s, height 0 1s;
  height: 0;
}

.overlay:target {
  display: block;
  opacity: 1;
  transition: opacity 1s, height 0;
}

/*********************************************************************************/


@media only screen and (max-width: 550px) {
  
  .grid-container {
    grid-template-areas:
    'header header header header header footer footer footer'
    'main main main main main main main main'
    'main main main main main main main main';
    height: 100vh;
  }
  
  .footer {
    font-size: 3vw;
  }

  .divContact{
    margin-top: 1vh;
    font-size: calc(1.1vw *1.5);
  }


  #leftImage {
    width: 0;
    height: 0;
  }

  .header {
    font-size: calc(3vw * 2.5);
    box-shadow:inset 0 0 0 calc(100vw *2) rgba(0,0,0, 0.3);
  }

  #idLabel {
    margin-left: 1vw;
    margin-top: 7vh;
    border: 0;
    border-bottom: 0;
  }

  #idMunkakorok{
    font-size: calc(1vw * 2.5);
  }

  #mainSection {
    font-size: calc(1vw *3);
  }

  .h2Class{
    font-size: calc(2vw *3);
  }

  .divLeftWeb {
    font-size: calc(1.1vw *2);
  }
  
  .divRightWeb {
    font-size: calc(1.1vw *2.2);
  }

  .ulClass {
    font-size: calc(1.3vw *2);
  }
  
  .liClass {
    font-size: calc(1vw *3);  
  }

}