.classH3 {
    text-align: center;
    margin-bottom: 3vw;
    font-size: 3vw;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.classH6Bemutatkozas {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-bottom: 1.5vw;
    font-size: 1.1vw;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

#idGit {
    margin-top: 1vw;
    font-size: 1vw;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
}

.spanText{
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.classH4 {
    font-weight: bold;
}


/*********************************************************************************/


@media only screen and (max-width: 550px) {
    .classH3 {
        font-size: calc(3vw *2);
    }
    
    .classH6Bemutatkozas {
        font-size: calc(1.1vw *3);
    }
    
    #idGit {
        font-size: calc(1vw *3);
    }

    .classH4 {
        font-size: calc(2vw *2);
        font-weight: bold;
    }

}    